
<div class="row">
  	<div class="panel panel-info">

	  	<table st-table="displayedUsers" st-safe-src="userdata" class="table table-striped">
			<thead>
				<tr>
					<th >
						<input st-search="name" placeholder="search for username" class="input-sm form-control" type="search"/>
					</th>
					<th>
						<input st-search="email" placeholder="search for email" class="input-sm form-control" type="search"/>
					</th>
					<th>
						<input st-search="type" placeholder="search for type" class="input-sm form-control" type="search"/>
					</th>
					<th colspan="3">
						<input st-search="scope" placeholder="search for scope" class="input-sm form-control" type="search"/>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in displayedUsers">
					<td>{{user.name}}</td>
					<td>{{user.email}}</td>
					<td>{{user.type}}</td>
					<td ng-repeat="us in userScopes">
						<div class="input-group">
					      <span class="input-group-addon">
					        <input type="checkbox" aria-label="..." ng-click="addRemoveScope(user, us)" ng-checked="hasScope(user, us)">
					      </span>
					      <label class="form-control" >{{ us }}</label>
					    </div>
					</td>
					<td>
						<button type="button" ng-click="deleteUser(user)" class="btn btn-sm btn-danger">
						<i class="glyphicon glyphicon-trash">
							</i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>