<div class="row">
	<div class="col-md-2">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	Manage scopes
		  	</div>
	  		<div class="panel-body">
					<div class="btn-group">
					<ul class="list-group">
					  	<li ng-repeat="us in userScopes" class="list-group-item">{{us}}</li>				 		
					  	<li class="list-group-item">
				 			<input type="text" class="form-control" placeholder="Scope" aria-describedby="basic-addon1" ng-model="newScope">
				 		</li>
					  	<button type="button" class="list-group-item list-group-item-action active" ng-click="createScope()">
				 			<span class="glyphicon glyphicon-plus"></span>
				 			New Scope
				 		</button>
				 	</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-10">
		<div class="panel panel-default">
			<div class="panel-heading">
		    	Manage user scopes
		  	</div>
			<div class="panel-body">
			  	<div class="panel panel-info" style="overflow:scroll">
				  	<table st-table="displayedUsers" st-safe-src="userdata" class="table table-striped">
						<thead>
							<tr>
								<th >
									<input st-search="name" placeholder="search for username" class="input-sm form-control" type="search"/>
								</th>
								<th>
									<input st-search="email" placeholder="search for email" class="input-sm form-control" type="search"/>
								</th>
								<th colspan="{{userScopes.length}}">
									<input st-search="scope" placeholder="search for scope" class="input-sm form-control" type="search"/>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="user in displayedUsers">
								<td>{{user.name}}</td>
								<td>{{user.email}}</td>
								<td ng-repeat="us in userScopes">
									<div class="input-group">
								      <span class="input-group-addon">
								        <input type="checkbox" aria-label="..." ng-click="addRemoveScope(user, us)" ng-checked="hasScope(user, us)">
								      </span>
								      <label class="form-control" >{{ us }}</label>
								    </div>
								</td>
								<td>
									<button type="button" ng-click="deleteUser(user)" class="btn btn-sm btn-danger">
									<i class="glyphicon glyphicon-trash">
										</i>
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>