
<div class="panel panel-info">
    <div class="btn-group">
         <button type="button" class="btn btn-default" ng-click="graph.type = 0">
            <span class="glyphicon glyphicon-stats"></span>
            Compare
         </button>

         <button type="button" class="btn btn-default" ng-click="graph.type = 2">
            <span class="glyphicon glyphicon-stats"></span>
            Line series
         </button>
    </div>
</div>

<div class="panel panel-default" ng-if = "graph.type == 0">
    <div class="input-group">
        <select class="form-control" ng-options="item as item.label for item in keys" ng-model="graph.axis.x"></select>
        <select class="form-control" ng-options="item as item.label for item in keys" ng-model="graph.axis.y"></select>
    </div>

    <compare-two-variables data="compareTwoVariables" margin="margin" height="height" >

    </compare-two-variables>
</div>

<div class="panel panel-default" ng-if = "graph.type == 1">


    <div class="input-group">
        <span class="input-group-addon">
            <input type="checkbox" aria-label="..." ng-model="graph.normalize">
        </span>
        <label class="form-control" > Normalize</label>
    </div>

    <box-plot-chart 
      data="boxplotdata"
      height="height"
      margin="margin"
      legend-y="legendYBP"
      legend-x="legendXBP"
      box-plot-title="titleBP"
      style="margin: 20px; margin-bottom:50px;"
    ></box-plot-chart>

    <select class="form-control" ng-options="item as item.label for item in attachments.data" ng-model="attachments.selected"></select>
    <directive-threejs data="attachments.surface" height="height" ng-if="attachments.surface"></directive-threejs>
    
</div>
<div class="panel panel-info" ng-if = "graph.type == 2">

    
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="btn-group">
                 <button type="button" class="btn btn-default" ng-click="multiSeries.addVariables(multiSeries.displayedKeys)">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add
                 </button>

                 <button type="button" class="btn btn-default" ng-click="multiSeries.addVariables(keys)">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add all
                 </button>

                 <button type="button" class="btn btn-default" ng-click="multiSeries.selectedVariables = {}">
                    <span class="glyphicon glyphicon-remove"></span>
                    Remove all
                 </button>
            </div>

            <table st-table="multiSeries.displayedKeys" st-safe-src="keys" class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="2">
                            <input st-search="label" placeholder="search by variable name" class="input-sm form-control" type="search"/>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in multiSeries.displayedKeys">
                        <td>
                            <div class="input-group">
                                <input type="checkbox" ng-model="multiSeries.selectedVariables[row.label]">
                            </div>
                        </td>
                        <td>{{row.label}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            
            <div class="btn-group">
                 <button type="button" class="btn btn-default" ng-click="multiSeries.addSubjects(multiSeries.displayedSubjects)">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add
                 </button>

                 <button type="button" class="btn btn-default" ng-click="multiSeries.addSubjects(data)">
                    <span class="glyphicon glyphicon-plus"></span>
                    Add all
                 </button>

                 <button type="button" class="btn btn-default" ng-click="multiSeries.subjects = {}">
                    <span class="glyphicon glyphicon-remove"></span>
                    Remove all
                 </button>
            </div>

            <table st-table="multiSeries.displayedSubjects" st-safe-src="data" class="table table-striped">
                <thead>
                    <tr>
                        <th colspan="2">
                            <input st-search="patientId" placeholder="search by patientId " class="input-sm form-control" type="search"/>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in multiSeries.displayedSubjects">
                        <td>
                            <div class="input-group">
                                <input type="checkbox" ng-model="multiSeries.subjects[row._id]">
                            </div>
                        </td>
                        <td>{{row.patientId}}</td>
                    </tr>
                </tbody>
            </table>

            
        </div>

        
    </div>

    <div class="col-md-12">
        <div class="btn-group">
             <button type="button" class="btn btn-default" ng-click="multiSeries.update()">
                <span class="glyphicon glyphicon-refresh"></span>
                Update
             </button>
        </div>
        
        <multi-series-line-chart
            data="multiSeries.data"
            height="height"
            margin="margin"
        ></multi-series-line-chart>

        <select class="form-control" ng-options="item as item.label for item in attachments.data" ng-model="attachments.selected"></select>
        <directive-threejs data="attachments.surface" height="height" ng-if="attachments.surface"></directive-threejs>
    </div>
</div>
